body{
    /* Configuração geral da página */
    width: 1000px;
    align-items: center;
    background-color: darkgrey;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
h1{
    text-align: center;
    vertical-align: middle;
}
.header{
    width: 100%;
    background-color: black;
    color: white;

}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.imagem{
    height: 20%;
    width: 20%;
}
.container-information{
    /* Configuração dos Sub-blocos do lado direito */
    width: 810px;
    margin-left: 10px;
    background-color: white;
    color: rgb(3, 3, 117);
}
img{
    /* Configuração da imagem */
    margin: 10px;
    width: 150px;
    height: 150px;
}
a{
    margin-left: 20px;
}
